version: 2

aliases:
  - &install-deps
    run:
      name: Install dependencies
      command: yarn install --immutable
  - &build-packages
    run:
      name: Build
      command: yarn build

jobs:
  build:
    working_directory: ~/nestjs-postgres
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - *install-deps
      - *build-packages
  lint:
    working_directory: ~/nestjs-postgres
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - *install-deps
      - run:
          name: Run Eslint
          command: yarn lint && yarn lint:test
      - run:
          name: Run Prettier
          command: yarn format --check

  tests:
    working_directory: ~/nestjs-postgres
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - *install-deps
      - run:
          name: Run Tests
          command: yarn test

workflows:
  version: 2
  build-lint-test:
    jobs:
      - build
      - lint:
          requires:
            - build
      - tests:
          requires:
            - build
